# sql load example

In [26]:
import pymysql

def login():
    mydb = pymysql.connect(
        user='root',
        passwd='dss',
        host='34.64.111.84',
        db='my_db',
        charset='utf8'
    )
    cursor = mydb.cursor(pymysql.cursors.DictCursor)
    return mydb, cursor

In [27]:
mydb, cursor = login()
import pandas as pd

In [28]:
qry1 = ("""
SELECT * FROM my_db.naver_query;
""")

In [29]:
cursor.execute(qry1)

3356970

In [32]:
rlt1 = cursor.fetchall()
df_1 = pd.DataFrame(rlt1)

In [34]:
df_1.to_csv("naver_query.csv", index=False)

# data frame load

In [3]:
import pandas as pd
import numpy as np

In [65]:
naver_query = pd.read_csv("naver_query.csv")

In [78]:
kaida = pd.read_csv("kaida.csv")

In [70]:
my_db = pd.read_csv("my_db.csv")

# kaida first

In [81]:
# I need datetime 
kaida["date"] = (kaida["year"].map(str) + "-" + kaida["month"].str.replace("ì›”", ""))
kaida["date"] = pd.to_datetime(kaida["date"])

In [86]:
kaida.drop(["month", "year"], axis=1, inplace=True)