# sql load example

In [26]:
import pymysql

def login():
    mydb = pymysql.connect(
        user='root',
        passwd='dss',
        host='34.64.111.84',
        db='my_db',
        charset='utf8'
    )
    cursor = mydb.cursor(pymysql.cursors.DictCursor)
    return mydb, cursor

In [27]:
mydb, cursor = login()
import pandas as pd

In [28]:
qry1 = ("""
SELECT * FROM my_db.naver_query;
""")

In [29]:
cursor.execute(qry1)

3356970

In [32]:
rlt1 = cursor.fetchall()
df_1 = pd.DataFrame(rlt1)

In [34]:
df_1.to_csv("naver_query.csv", index=False)

# data frame load

In [36]:
import pandas as pd
import numpy as np

In [37]:
pd.read_csv("naver_query.csv")

,index,Date,Count_query,Brand,Model,YM,Year,Month,Day,Target_Audience
0,0,2016-01-01,10.000000,ASTONMARTIN,기흥애스턴마틴밴티지,201601,2016,1,1,20대이하여성
1,1,2016-01-02,2.379598,ASTONMARTIN,기흥애스턴마틴밴티지,201601,2016,1,2,20대이하여성
2,2,2016-01-03,0.764872,ASTONMARTIN,기흥애스턴마틴밴티지,201601,2016,1,3,20대이하여성
3,3,2016-01-04,0.934843,ASTONMARTIN,기흥애스턴마틴밴티지,201601,2016,1,4,20대이하여성
4,4,2016-01-05,0.453258,ASTONMARTIN,기흥애스턴마틴밴티지,201601,2016,1,5,20대이하여성
...,...,...,...,...,...,...,...,...,...,...
3356965,1926,2021-05-01,6.666667,GM,지엠코리아,202105,2021,5,1,60대이상남성
3356966,1927,2021-05-02,1.212104,GM,지엠코리아,202105,2021,5,2,60대이상남성
3356967,1928,2021-05-03,6.363625,GM,지엠코리아,202105,2021,5,3,60대이상남성
3356968,1929,2021-05-04,8.787896,GM,지엠코리아,202105,2021,5,4,60대이상남성
3356969,1930,2021-05-05,7.878770,GM,지엠코리아,202105,2021,5,5,60대이상남성

In [38]:
pd.read_csv("kaida.csv")

                brand            model value sales_type  age month  year
0                 BMW    218dGranCoupe     0      개인-남자  ~19    1월  2021
1                 BMW              520     1      개인-남자  ~19    1월  2021
2             Bentley  ContinentalGTV8     0      개인-남자  ~19    1월  2021
3               Honda       CR-VHybrid     0      개인-남자  ~19    1월  2021
4       Mercedes-Benz             E250     1      개인-남자  ~19    1월  2021
...               ...              ...   ...        ...  ...   ...   ...
321115          Volvo        XC40B4AWD     0      개인-여자  70~   12월  2020
321116          Volvo        XC40T4AWD     0      개인-여자  70~   12월  2020
321117          Volvo        XC60D5AWD     0      개인-여자  70~   12월  2020
321118          Volvo        XC60T8AWD     1      개인-여자  70~   12월  2020
321119          Volvo        XC90T6AWD     0      개인-여자  70~   12월  2020

[321120 rows x 7 columns]

In [ ]:
pd.read_cs